Rate.ConsoleApp/Connected Services/RateServiceReference/DefaultRateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DefaultRateService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52880/RateService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52880/RateService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52880/RateService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rate.Models.Domain" />
      <xsd:import schemaLocation="http://localhost:52880/RateService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Rate.Models.OptionalParams" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRateService_AddCurrency_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCurrency" />
  </wsdl:message>
  <wsdl:message name="IRateService_AddCurrency_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCurrencyResponse" />
  </wsdl:message>
  <wsdl:message name="IRateService_GetCurrencies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrencies" />
  </wsdl:message>
  <wsdl:message name="IRateService_GetCurrencies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrenciesResponse" />
  </wsdl:message>
  <wsdl:message name="IRateService_GetLastCurrency_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastCurrency" />
  </wsdl:message>
  <wsdl:message name="IRateService_GetLastCurrency_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastCurrencyResponse" />
  </wsdl:message>
  <wsdl:portType name="IRateService">
    <wsdl:operation name="AddCurrency">
      <wsdl:input wsaw:Action="http://tempuri.org/IRateService/AddCurrency" message="tns:IRateService_AddCurrency_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRateService/AddCurrencyResponse" message="tns:IRateService_AddCurrency_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrencies">
      <wsdl:input wsaw:Action="http://tempuri.org/IRateService/GetCurrencies" message="tns:IRateService_GetCurrencies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRateService/GetCurrenciesResponse" message="tns:IRateService_GetCurrencies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastCurrency">
      <wsdl:input wsaw:Action="http://tempuri.org/IRateService/GetLastCurrency" message="tns:IRateService_GetLastCurrency_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRateService/GetLastCurrencyResponse" message="tns:IRateService_GetLastCurrency_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRateService" type="tns:IRateService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCurrency">
      <soap:operation soapAction="http://tempuri.org/IRateService/AddCurrency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencies">
      <soap:operation soapAction="http://tempuri.org/IRateService/GetCurrencies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastCurrency">
      <soap:operation soapAction="http://tempuri.org/IRateService/GetLastCurrency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DefaultRateService">
    <wsdl:port name="BasicHttpBinding_IRateService" binding="tns:BasicHttpBinding_IRateService">
      <soap:address location="http://localhost:52880/RateService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>