Rate.ConsoleApp/Connected Services/RateServiceReference/RateService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52880/RateService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rate.Models.Domain" />
  <xs:import schemaLocation="http://localhost:52880/RateService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Rate.Models.OptionalParams" />
  <xs:element name="AddCurrency">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Rate.Models.Domain" minOccurs="0" name="currency" nillable="true" type="q1:Currency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCurrencyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrencies">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Rate.Models.OptionalParams" minOccurs="0" name="paging" nillable="true" type="q2:Paging" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Rate.Models.OptionalParams" minOccurs="0" name="filter" nillable="true" type="q3:CurrencyFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrenciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Rate.Models.Domain" minOccurs="0" name="GetCurrenciesResult" nillable="true" type="q4:ArrayOfCurrency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastCurrency">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastCurrencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Rate.Models.Domain" minOccurs="0" name="GetLastCurrencyResult" nillable="true" type="q5:Currency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>