Rate.ConsoleApp/Connected Services/RateServiceReference/RateService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rate.Models.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rate.Models.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Currency">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurchasePrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="SellingPrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Currency" nillable="true" type="tns:Currency" />
  <xs:complexType name="ArrayOfCurrency">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Currency" nillable="true" type="tns:Currency" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCurrency" nillable="true" type="tns:ArrayOfCurrency" />
</xs:schema>