Rate.ConsoleApp/Connected Services/RateServiceReference/RateService21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rate.Models.OptionalParams" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rate.Models.OptionalParams" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Paging">
    <xs:sequence>
      <xs:element minOccurs="0" name="Skip" type="xs:int" />
      <xs:element minOccurs="0" name="Take" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Paging" nillable="true" type="tns:Paging" />
  <xs:complexType name="CurrencyFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CurrencyFilter" nillable="true" type="tns:CurrencyFilter" />
</xs:schema>